.skeleton {
  width: 100%;
  background: linear-gradient(to right, #0F2445 0%, #555 50%, #F05A26 100%);
  background-size: 400% 400%;
  animation: pulse 3s ease-in-out infinite;
  min-height: 52px;
  max-height: 100%;
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
