@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  color: #F05A26;
  background: url('/bg-graphic.png');
  --color-primary: #fada3f;
  --color-secondary: #F05A26;
  --color-tertiary: #4C9FE2;
  --color-quaternary: #9b4dff;
  --card-background: #252133;
  --highlighted-background: #202326;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  color: #17CFF5;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 0px;
  font-family: 'Quando', sans-serif;
}

a {
  color: #000291;
  text-decoration: none;
}

p {
  color: #04818F;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgb(255, 255, 255);
  color: #000291 !important;
  background: rgb(255, 255, 255) !important;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 6px 16px;
  font-weight: 600;
  font-family: inherit;
  transition: all 0.15s ease-in-out 0s;
  font-family: 'Lato', sans-serif;
}

button:hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: #17CFF5;
}


*::-webkit-scrollbar {
  width: 6px;
}
/* background of scroll color */
*::-webkit-scrollbar-track {
  background: #007DFF;
  border-radius: 10px;
}
/* bar default static thumb color */
*::-webkit-scrollbar-thumb {
  background: #000291 ;
  border-radius: 10px;
}

/* bar Hover color */
*::-webkit-scrollbar-thumb:hover {
  background: #000291;
  border-radius: 10px;
}
/* bar Press color */
*::-webkit-scrollbar-thumb:active {
  background: #17CFF5;
  border-radius: 10px;
}

map {
  -webkit-overflow-scrolling: touch; overflow-y: auto; line-height: 0px;

}